name: personal-portfolio-test
on:
  workflow_run:
    workflows: [personal-portfolio-build]
    types: 
      - completed
jobs: 
  test:  
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node
      uses: actions/setup-node@v2
      with:
        node-version: '22'

    - name: Install dependencies
      run: npm install
      working-directory: nextjs-app
      
    - name: Run lint
      run: npm run lint
      working-directory: nextjs-app
 